# Ignore everything
*

# But not these files...
!README.md
!.gitignore
!main.py
!test_main.py
!user_script.py
!requirements.txt
!deployment.yaml
!grafana.yaml
!deployment-node-nodeport.yaml
!prometheus-monitor.yaml
!prometheus.yaml
!app/
!kubernetes/
!test/
